<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title></title>
</head>

<body>
    <header>
        <nav>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            {{#if loggedIn}}
            <li>
                <button id="logout" class="btn-no-style">Logout</button>
            </li>
            {{else}}
            <li>
                <a href="/login">Login</a>
            </li>
            {{/if}}
        </nav>
        <span>The Tech Blog</span>
    </header>
    <main>
        <div class="blogs">
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src='./js/logout.js'></script>
    {{/if}}
</body>

</html>