{{#each blogs as |blog|}}
{{> blog-details}}
{{/each}}
<div class='container-fluid mt-5 custom-button'>
    <a class="btn btn-primary custom-btn" href='/new-post'>New Post</a>
</div>

<script src='../js/logout.js'></script>