<div>
    <form class='form' id='new-post-form'>
        <div>
            <label for='blog-title'>Title</label>
            <input type='text' name='' id='blog-title'>
        </div>
        <div>
            <label for='blog-content'>Content</label>
            <textarea name='' cols='30' rows='10' id='blog-content'></textarea>
        </div>
        <div>
            <button type='submit'>Submit</button>
        </div>
    </form>
</div>

<script src='./js/post.js'></script>